<div class="container forumCat" data-ng-init="chatDetails()">
	<div class="row-fluid">
	    <div class="span4">
	        <div class="scrollable">
	        	<div class="col-xs-6 col-md-4">
	        		<ul class="list-group">
	        			<li class="list-group-item"><h3><a href="">All Discussion</a></h3></li>
	        			<li class="list-group-item" data-ng-repeat="(category, value) in forumCatRef"><h3><a href="">{{value}}</a></h3></li>
	        		</ul>
	  			</div>
	        </div>
	    </div>
	    <div class="span8">
	        <div class="scrollable">

	        	<div class="col-xs-12 col-sm-6 col-md-8" >
	        		<ul  class="list-group">
	        			<li class="list-group-item chatList" data-ng-repeat="(chat, value) in details">
	        				<div class="row">
	        					<div class="col-xs-12 col-md-2">
	        						<img ng-src="{{ value.picture}}" class="img-responsive img-rounded chatImg" />
	        					</div>
	        					<div class="col-xs-12 col-md-10">
	        						<h3>
	        							<a href="#/forum/{{value.category}}/{{value.topic}}">  
	        								{{ value.topic}} 
	        							</a>
	        							<small>by {{value.userName}}</small>
	        							<small class="pull-right"> {{value.category}} &nbsp &nbsp {{value.commentCount}} comments </small>
	        						</h3>
	        						<p> {{value.message}} </p>
	        					</div>
	        				</div>        				
	        			</li>
	        		</ul>
				</div>
	        </div>
	    </div>
	</div>
</div>