<div class="auth-forms">
  <h2>Review</h2>
  <form name="materialForm">
  	<div>
      <input type="text" id="name" name="name" ng-model="review.name" placeholder="name" style="width:280px"></input>
      <input type="text" id="category" name="category" ng-model="review.category" placeholder="category" style="width:280px"></input>
      <textarea type="text" id="review" name="review" ng-model="review.note" placeholder="review" style="width:280px"></textarea>
      <input type="button" ng-click="createReview(review)" value="submit"></input>
    </div>
  </form>
  <!-- display review -->
  <input type="button" value="RetrieveData" ng-click="getReview()"></input>
  <div>
    <h3></h3>
    <h3></h3>
    <h3></h3>
  </div>
</div>


