<div class="container forumCat" data-ng-init="findOneTopic()">
<div class="row-fluid">
    <div class="span4">
        <div class="scrollable">
        	<div class="col-xs-6 col-md-4">
        		<ul class="list-group">
        			<li class="list-group-item"><h3><a href="">Just created</a></h3></li>
        			<li class="list-group-item" data-ng-repeat="(category, value) in forumCatRef"><h3><a href="">{{value}}</a></h3></li>
        		</ul>
  			</div>
        </div>
    </div>
    <div class="span8">
        <div class="scrollable">
            <div class="col-xs-12 col-sm-6 col-md-8 " >
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <img ng-src="{{ userDetails.picture}}" class="img-responsive img-rounded chatImg" />
                    </div>
                    <div class="col-xs-12 col-md-10">
                        <h3>{{ topicDetails.topic}}<span><h5>by {{userDetails.userName}} </h5></span></h3>
                        <p> {{topicDetails.message}} </p>
                    </div>
                </div>                      
            </div>



        </div>
    </div>
</div>
</div>

<div class="container" data-ng-init="findOneTopic()">

</div>
